@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient(
    to bottom,
    rgb(239, 237, 240),
    rgb(142, 65, 224) 40%
  );
  background-size: 100% 200%;
  background-attachment: fixed;
}
:root {
  --primary-color: rgb(142, 65, 224);
  --added-color: white;
  --logoextract: #32ace3;
}
a {
  text-decoration: none;
}
@media all and (max-width: 800px) {
  .icon {
    width: 3.9rem;
  }
  nav {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 40px;
    align-items: center;
    padding: 0.8rem 1.5rem;
  }
  .csr {
    text-align: center;
    margin-left: 0;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: auto;
    cursor: pointer;
  }
  .navbar > span {
    background-color: var(--primary-color);
    width: 30px;
    height: 3px;
  }
  .dropdown-menu {
    position: fixed;
    left: 0;
    top: -100%;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    color: var(--added-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all ease-in-out 0.2s;
    overflow: hidden;
    z-index: 1001;
  }

  .close-btn {
    position: absolute;
    top: 22px;
    right: 20px;
    padding: 5px 8px;
    border-radius: 2px;
    color: var(--added-color);
    background-color: none;
    border: none;
    cursor: pointer;
  }
  .fa-x {
    font-size: 1rem;
  }
  button > i {
    font-size: 1.6rem;
    color: var(--primary-color);
  }
  body.noscroll {
    overflow: hidden;
  }
  ul {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    list-style-type: none;
    gap: 3vh;
  }
  li > a {
    color: var(--added-color);
    font-size: 1.2rem;
    position: relative;
    margin-left: 3vw;
  }

  li i {
    font-size: 1.2rem;
  }

  nav a:nth-of-type(2) {
    font-size: 1.4rem;
    color: var(--primary-color);
  }
  hr {
    width: 90%;
  }
  .content1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.3rem 1.5rem;
  }
  .content1 h2 {
    font-size: 1.7rem;
    font-weight: 900;
    color: var(--primary-color);
    text-shadow: 0.5px 0.5px 2px var(--primary-color);
  }
  .content1 p {
    font-size: 1.3rem;
  }
  .content1 a {
    font-size: 1.5rem;
    background-color: var(--logoextract);
    padding: 0.6rem 1.1rem;
    border-radius: 5px;
  }
  .content1 > a > i {
    margin-right: 10px;
    font-size: 1.3rem;
  }
  .content2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.3rem 1.5rem;
    margin-top: 3vh;
  }
  .content2 h2 {
    align-self: center;
    font-weight: bold;
  }
  .content2 ul {
    margin-top: 0;
    padding: 0.4rem 1.4rem;
    list-style-type: circle;
  }
  .content2 ul li {
    font-size: 1.2rem;
  }
  .content2 ul span {
    font-weight: 600;
  }
  .testimonials {
    display: flex;
    flex-direction: column;
    padding: 0.3rem 3rem;
    margin-top: 3vh;
    overflow: visible;
  }
  #paragraph-slider {
    overflow: visible;
  }
  .testimonials h2 {
    text-align: center;
    color: var(--logoextract);
    margin-bottom: 5vh;
    text-shadow: 0.5px 0.5px 2px black;
  }
  .splide__list,
  .splide__track {
    overflow: visible;
  }
  .comments {
    overflow: visible;
  }

  .splide__slide {
    padding: 1rem 1.2rem;
    margin: 10px;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 5px;
    text-shadow: 0.5px 0.5px 2px black;
    border: 0.3px solid var(--logoextract);
  }

  .splide__slide:nth-child(even) {
    background: var(--logoextract);
  }

  .fa-bullhorn {
    color: brown;
  }

  .crypto-ticker {
    width: 100%;
    background-color: #222;
    color: #fff;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 50px;
    display: flex;
    align-items: center;
  }

  .ticker-content {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 30s linear infinite;
  }

  .ticker-content span {
    margin: 0 5px;
    display: inline-flex;
    align-items: center;
  }
  .market100 {
    color: rgba(255, 0, 0, 0.836);
  }
  .robot {
    font-weight: 700;
  }
  .fa-handshake,
  .fa-bots {
    font-size: 0.9rem;
  }
  .fa-airbnb {
    font-size: 1.4rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
  }
  .privacy {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .privacy a {
    color: white;
  }
  .hrfooter {
    margin-top: 10vh;
  }
  .links {
    display: flex;
    flex-direction: row;
    gap: 5vw;
  }

  /* Statistics Section */
  .statistics {
    text-align: center;
  }

  .statistics h3 {
    font-size: 24px;
    text-shadow: 0.5px 0.5px 2px black;
  }

  .stats {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }

  .stat-item {
    border-radius: 10px;
    padding: 10px;
    width: 20vw;
    height: 10vh;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .stat-item h4 {
    font-size: 20px;
    font-weight: bold;
  }

  .stat-item p {
    font-size: 16px;
    text-shadow: 0.5px 0.5px 2px black;
  }

  @keyframes scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
