@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient(
    to bottom,
    rgb(239, 237, 240),
    rgb(142, 65, 224) 40%
  );
  background-size: 100% 200%;
  background-attachment: fixed;
}
:root {
  --primary-color: rgb(142, 65, 224);
  --added-color: white;
  --logoextract: #32ace3;
}
a {
  text-decoration: none;
}
@media all and (max-width: 800px) {
  .icon {
    width: 3.9rem;
  }
  nav {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 40px;
    align-items: center;
    padding: 0.8rem 1.5rem;
  }
  .csr {
    text-align: center;
    margin-left: 0;
    font-size: 1.5rem;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: auto;
    cursor: pointer;
  }
  .navbar > span {
    background-color: var(--primary-color);
    width: 30px;
    height: 3px;
  }
  .dropdown-menu {
    position: fixed;
    left: 0;
    top: -100%;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    color: var(--added-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all ease-in-out 0.2s;
    overflow: hidden;
    z-index: 1001;
  }

  .close-btn {
    position: absolute;
    top: 22px;
    right: 20px;
    padding: 5px 8px;
    border-radius: 2px;
    color: var(--added-color);
    background-color: none;
    border: none;
    cursor: pointer;
  }
  button > i {
    font-size: 1.6rem;
    color: var(--primary-color);
  }
  body.noscroll {
    overflow: hidden;
  }
  ul {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    list-style-type: none;
    gap: 3vh;
  }
  li > a {
    color: var(--added-color);
    font-size: 1.4rem;
    position: relative;
  }

  li i {
    font-size: 1.6rem;
    margin-right: 3vw;
  }

  nav a:nth-of-type(2) {
    font-size: 1.4rem;
    color: var(--primary-color);
  }
  hr {
    width: 90%;
  }
  .content1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.3rem 2rem;
  }
  .content1 h2 {
    font-size: 1.7rem;
    font-weight: 900;
    color: var(--primary-color);
  }
  .content1 p {
    font-size: 1.3rem;
  }
  .content1 a {
    font-size: 1.5rem;
    background-color: var(--logoextract);
    padding: 0.6rem 2rem;
    border-radius: 5px;
  }
  .content1 > a > i {
    margin-right: 10px;
    font-size: 1.3rem;
  }
  .fa-bullhorn {
    color: brown;
  }
  .fa-handshake,
  .fa-left-right,
  .fa-screwdriver-wrench,
  .fa-arrow-rotate-left,
  .fa-brands,
  .fa-share,
  .fa-filter-circle-dollar,
  .stake {
    color: var(--logoextract);
  }
  /* Ticker styles */
  .crypto-ticker {
    width: 100%;
    background-color: #222;
    color: #fff;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 50px;
    display: flex;
    align-items: center;
  }

  .ticker-content {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 30s linear infinite; /* Adjust speed here */
  }

  .ticker-content span {
    margin: 0 5px;
    display: inline-flex;
    align-items: center;
  }

  /* Keyframes for seamless scrolling */
  @keyframes scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
