@charset "UTF-8";
@import url(./index.css);
* {
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(142, 65, 224);
  --added-color: white;
  --logoextract: #32ace3;
}

@media all and (max-width: 600px) {
  .selections {
    display: flex;
    flex-direction: column;
    padding: 8px 60px;
    gap: 50px;
  }
  .selection {
    display: flex;
    flex-direction: column;
    gap: 14px;
    background-color: rgb(221, 210, 237);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    line-height: 1;
  }
  .selection b {
    font-size: 1.2rem;
    color: var(--primary-color);
    text-shadow: 0.5px 0.5px 2px var(--primary-color);
  }
  .selection span {
    font-size: 0.9rem;
  }
  .introtooptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 20px;
  }
  .introtooptions h3 {
    text-align:center;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--primary-color);
    text-shadow: 0.5px 0.5px 2px var(--primary-color);
  }
  .firstpara {
    text-align: center;
    text-shadow: 0.5px 0.5px 2px var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 15px 40px;
  }
  .selectoptions {
    text-align: center;
  }
  .chartdiv {
    padding: 0px 20px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(cryptochart.jpg);
  }
}
